<section class="position-relative z-index-1 padding-top-md padding-bottom-xl">
	<div class="container max-width-adaptive-lg">
		<div class="grid gap-md items-center">
			<div class="col-6@md col-5@lg">

				<div class="text-component margin-top-md margin-bottom-md">
					<h1>Tupperware proizvodi</h1>
					<p class="text-lg font-light width-90%@md">Pripremanje, kuvanje i odlaganje hrane nikad nije bilo lakše.</p>
					<a href="/collections/"
						class=" btn btn--primary margin-top-md margin-bottom-lg@lg margin-bottom-sm shadow-lg">Pogledaj
						webshop</a>
					<a href="/pages/osnovni-katalog"
						class=" btn btn--secondary margin-top-md@lg margin-left-sm@lg margin-bottom-lg shadow-lg">Tupperware katalog 2022</a>
				</div>

			</div>

			<div class="col-6@md col-7@lg">
				<figure>
					<img class="block width-100% radius-md" data-src="{{ 'tupperware.webp' | asset_url }}"
						src="{{ 'tupperware-2.jpg' | asset_url }}" alt="tupperware">
				</figure>
			</div>
		</div>
	</div>
</section>


{% include 'akcija-pocetna' %}



<div class="container max-width-adaptive-lg padding-y-xl margin-x-0 margin-x-auto@md width-100% margin-top-xl@md ">

	<div class="grid gap-md ">
		<div class="col-6@md">
			<div class="text-component padding-x-md padding-x-xl@md text-left text-center@md">
				<h2 class="text-xl text-xxl@md">Tupperware akcija meseca</h2>
				<p class="text-sm text-lg@md">Vreme je da izaberete najbolje. Akcijska ponuda je u toku.</p>
			</div>
			<div class="flex padding-x-md padding-x-xl@md">
				<a href="/collections/akcijska-ponuda"
					class="hide@md btn btn--primary flex margin-top-md margin-bottom-lg shadow-lg">Klikni i uštedi do 50% →</a>
				<a href="/collections/akcijska-ponuda"
					class="display@md btn btn--md btn--primary flex margin-top-md margin-bottom-lg shadow-lg margin-x-auto">Klikni i uštedi do 50% →</a>
			</div>
			<img class="block width-100% radius-md" loading="lazy" data-src="{{ 'taperver-akcija-2022.jpg' | asset_url }}"
				src="{{ 'taperver-akcija-2022.jpg' | asset_url }}" alt="taperver akcija" style="margin-top: -4rem" />
		</div>
		<div class="col-6@md">
			<div class="text-component padding-x-md padding-x-xl@md text-left text-center@md">
				<h2 class="text-xl text-xxl@md">Tupperware Srbija</h2>
				<p class="text-sm text-lg@md">Ostvarite posebne pogodnosti za Vas kao našeg poslovnog partnera.</p>
			</div>
			<div class="flex padding-x-md padding-x-xl@md">
				<a href="/pages/kontakt"
					class="hide@md btn btn--primary flex margin-top-md margin-bottom-lg shadow-lg">Kontaktirajte nas →</a>
				<a href="/pages/kontakt"
					class="display@md btn btn--md btn--primary flex margin-top-md margin-bottom-lg shadow-lg margin-x-auto">Kontaktirajte
					nas →</a>
			</div>
			<img class="block width-100% radius-md" loading="lazy" data-src="{{ 'tupperware-srbija-dva.jpg' | asset_url }}"
				src="{{ 'tupperware-srbija-dva.jpg' | asset_url }}" alt="tupperware srbija" style="margin-top: -4rem" />
		</div>
	</div>
</div>

{% include 'krpe-pocetna' %}
{% include 'flasice-pocetna' %}
{% include 'posude-pocetna' %}

<section class="feature-v10 ">
	<div class="padding-y-xl padding-top-xxl@md padding-bottom-0@md">
		<div class="container max-width-adaptive-lg">
			<div class="grid">
				<img class="block width-100% height-70%@lg object-cover col-6@md" loading="lazy"
					data-src="{{ 'tupperware-katalog-1.jpg' | asset_url }}" src="{{ 'tupperware-katalog-1.jpg' | asset_url }}"
					alt="tupperware posude">

				<div class="bg-contrast-lower bg-opacity-50% col-6@md">
					<div class="text-component text-space-y-md height-100% flex flex-column padding-md">
						<h2>Ventsmart posude</h2>
						<p class="margin-top-auto"><a href="/collections/kolekcija-za-voce-i-povrce"
								class="feature-v10__link"><i>Vidi više</i></a></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class=" padding-y-xl padding-bottom-xxl@md padding-top-0@md">
		<div class="container max-width-adaptive-lg">
			<div class="grid">
				<img class="block width-100%  height-70%@lg  object-cover col-6@md order-2@md" loading="lazy"
					data-src="{{ 'taperver.jpg' | asset_url }}" src="{{ 'taperver.jpg' | asset_url }}" alt="taperver">

				<div class="bg-contrast-high col-6@md order-1@md">
					<div class="text-component color-bg text-space-y-md height-100% flex flex-column padding-md">
						<h2 class="color-inherit">Silikonski kalupi</h2>
						<p class="margin-top-auto"><a href="/collections/silikonski-kalupi" class="feature-v10__link"><i>Vidi više</i></a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<!-- End Card Section -->



<!-- Card Section -->

<section class="feature-v2">
	<div class="container max-width-adaptive-lg">
		<div class="grid gap-md items-center">
			<div class="col-5@md">
				<div class="text-component padding-left-md@md">
					<h2>Tupperware - reciklaža plastike</h2>

					<p>Potvrda strategije Tupperware-a kao lidera u proizvodnji plastike najvišeg kvaliteta u svetu je i u primeni
						tehnologije koja kao osnovni imperativ ima očuvanje i brigu o zdravlju potrošača.</p>
					<p>Dokaz razvijene društene svesti jesu i permanetna praksa i akcije koje Tupperware neguje i pokreće u
						procesu reciklaže.</p>
				</div>
			</div>

			<div class="col-6@md offset-1@md">
				<figure>
					<img loading="lazy" class="block width-100%" data-src="{{ 'tupperware-posude-reciklaza.jpg' | asset_url }}"
						src="{{ 'tupperware-posude-reciklaza.jpg' | asset_url }}" alt="tupperware posude reciklaza" />
				</figure>
			</div>
		</div>
	</div>
</section>
<div class="container max-width-adaptive-lg padding-y-xxl">
	<a class="banner banner--invert" href="/collections/na-putovanju" aria-label="Shop Now">
		<div class="grid">
			<div class="col-6@md overflow-hidden" aria-hidden="true">
				<div class="banner__figure width-100%"
					style="background-image: url('{{ 'posuda-za-uzinu-sa-pregradam.webp' | asset_url }}');">
				</div>
			</div>

			<div class="col-6@md">
				<div class="text-component text-space-y-md height-100% flex flex-column padding-md padding-xl@md text-right@md">
					<h2>Hranljivi obroci za Vašu porodicu, u svakom momentu i na svakom mestu</h2>
					<p class="margin-top-sm margin-top-md@md"><span class="banner__link"><i>Posude za hranu tokom putovanja</i></span></p>
				</div>
			</div>
		</div>
	</a>

	<a class="banner  margin-top-lg" href="/collections/frizider" aria-label="Shop Now">
		<div class="grid flex-row-reverse@md">
			<div class="col-6@md overflow-hidden" aria-hidden="true">
				<div class="banner__figure width-100%"
					style="background-image: url('{{ 'visenamenska-posuda-300ml.webp' | asset_url }}');">
				</div>
			</div>

			<div class="col-6@md">
				<div class="text-component text-space-y-md height-100% flex flex-column padding-md padding-xl@md">
					<h2>Podržite Vaše zdravlje koristeći provereno ekološko ispravno posuđe</h2>
					<p class="margin-top-sm margin-top-md@md"><span class="banner__link"><i>Posude za skladištenje u
								frižideru</i></span></p>
				</div>
			</div>
		</div>
	</a>
</div>

{% include 'blog-pocetna'%}
{% section 'kartice' %}