{% comment %} START Osnovni Proizvodi{% endcomment %}
<section id="collection-all" class="padding-bottom-md">
	<div class="container max-width-adaptive-lg">
		<div class="text-component text-center margin-y-xl">
			<h1>Tupperware asortiman</h1>
		</div>
		<div class="hide@md">
			<!-- Mobile Filters -->
			<div class="margin-y-md flex justify-center">
				<button class="btn btn--subtle width-100% flex flex-shrink" aria-controls="drawer-1">Filteri</button>
			</div>
			<div class="flex justify-between items-center margin-y-md">
				<div>
					<p class="text-sm">Ukupno proizvoda: ${filteredPosts.length}</p>
				</div>

				<div class="inline-flex items-baseline">
					<label class="text-sm color-contrast-medium margin-right-xs" for="selectThis"></label>

					<div class="select inline-block js-select"
						data-trigger-class="reset text-sm color-contrast-high text-underline inline-flex items-center cursor-pointer js-tab-focus">
						<select name="selectThis" id="selectThis" v-model="filter" v-on:change="change(filter)">
							<option value="" disabled selected style="display: none">Sortiraj po</option>
							<option v-for="i in filters">${i}</option>
						</select>

						<svg class="icon icon--xxxs margin-left-xxs" viewBox="0 0 8 8">
							<path
								d="M7.934,1.251A.5.5,0,0,0,7.5,1H.5a.5.5,0,0,0-.432.752l3.5,6a.5.5,0,0,0,.864,0l3.5-6A.5.5,0,0,0,7.934,1.251Z" />
						</svg>
					</div>
				</div>
			</div>

			<div class="drawer js-drawer drawer--open-left" id="drawer-1">
				<div class="drawer__content bg shadow-md" role="alertdialog" aria-labelledby="drawer-title-1">
					<div class="drawer__body padding-md js-drawer__body">
						<ul class="accordion js-accordion margin-top-xl" data-animation="on" data-multi-items="on">
							<!-- <li class="accordion__item accordion__item--is-open js-accordion__item">
  <button class="reset accordion__header padding-y-sm padding-x-md js-tab-focus" type="button">
	<span class="text-md">Tip proizvoda</span>

	<svg class="icon accordion__icon-arrow no-js:is-hidden" viewBox="0 0 16 16" aria-hidden="true">
	  <g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="square"
		 stroke-miterlimit="10">
		<path d="M2 2l12 12"/>
		<path d="M14 2L2 14"/>
	  </g>
	</svg>
  </button>

  <div class="accordion__panel  js-accordion__panel"> -->
							<!-- <div class="padding-top-xxxs padding-x-md padding-bottom-md">
	  <fieldset>
		<ul class="flex flex-column gap-xxxs">
		  <li>
			<input class="checkbox" type="checkbox" id="checkbox-1" v-model="collections" value="Rings">
			<label for="checkbox-1">Rings</label>
		  </li>

		  <li>
			<input class="checkbox" type="checkbox" id="checkbox-2" v-model="collections"
				   value="Earrings">
			<label for="checkbox-2">Earrings</label>
		  </li>

		  <li>
			<input class="checkbox" type="checkbox" id="checkbox-3" v-model="collections" value="Indoor">
			<label for="checkbox-3">Indoor</label>
		  </li>
		  <li>
			<input class="checkbox" type="checkbox" id="checkbox-4" v-model="collections" value="Outdoor">
			<label for="checkbox-4">Outdoor</label>
		  </li>
		</ul>
	  </fieldset>
	</div>
  </div> -->
							<!-- </li> -->

							<li class="accordion__item accordion__item--is-open js-accordion__item">
								<button class="reset accordion__header padding-y-sm padding-x-md js-tab-focus" type="button">
									<span class="text-md">Kategorije</span>

									<svg class="icon accordion__icon-arrow no-js:is-hidden" viewBox="0 0 16 16" aria-hidden="true">
										<g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="square"
											stroke-miterlimit="10">
											<path d="M2 2l12 12" />
											<path d="M14 2L2 14" />
										</g>
									</svg>
								</button>

								<div class="accordion__panel js-accordion__panel">
									<div class="padding-top-xxxs padding-x-md padding-bottom-md">
										<fieldset>
											<ul class="flex flex-column gap-xxxs">
												<li>
													<input class="checkbox" type="checkbox" id="checkbox-5" v-model="colors" value="Kuhinja" />
													<label for="checkbox-5">Kuhinja</label>
												</li>

												<li>
													<input class="checkbox" type="checkbox" id="checkbox-6" v-model="colors"
														value="Svakodnevna kolekcija" />
													<label for="checkbox-6">Svakodnevna kolekcija</label>
												</li>
												<li>
													<input class="checkbox" type="checkbox" id="checkbox-7" v-model="colors" value="Rerna" />
													<label for="checkbox-7">Rerna</label>
												</li>
												<li>
													<input class="checkbox" type="checkbox" id="checkbox-8" v-model="colors" value="Frizider" />
													<label for="checkbox-8">Frižider</label>
												</li>
												<li>
													<input class="checkbox" type="checkbox" id="checkbox-9" v-model="colors" value="Zamrzivac" />
													<label for="checkbox-9">Zamrzivač</label>
												</li>
												<li>
													<input class="checkbox" type="checkbox" id="checkbox-10" v-model="colors" value="Ostava" />
													<label for="checkbox-10">Ostava</label>
												</li>
											</ul>
										</fieldset>
									</div>
								</div>
							</li>

							<!-- <li class="accordion__item accordion__item--is-open  js-accordion__item">
  <button class="reset accordion__header padding-y-sm padding-x-md js-tab-focus" type="button">
	<span class="text-md">Kolekcije</span>

	<svg class="icon accordion__icon-arrow no-js:is-hidden" viewBox="0 0 16 16" aria-hidden="true">
	  <g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="square"
		 stroke-miterlimit="10">
		<path d="M2 2l12 12"/>
		<path d="M14 2L2 14"/>
	  </g>
	</svg>
  </button>

  <div class="accordion__panel js-accordion__panel">
	<div class="padding-top-xxxs padding-x-md padding-bottom-md">
	  <fieldset>
		<ul class="flex flex-column gap-xxxs">
		  <li>
			<input class="checkbox" type="checkbox" id="checkbox-7" v-model="test" value="kolekcije">
			<label for="checkbox-7">Ponuda meseca</label>
		  </li>

		  <li>
			<input class="checkbox" type="checkbox" id="checkbox-8" v-model="test" value="test">
			<label for="checkbox-8">Najprodavaniji proizvodi</label>
		  </li>
		</ul>
	  </fieldset>
	</div>
  </div>
</li> -->
						</ul>
					</div>
					<button
						class="reset drawer__close-btn position-fixed top-0 right-0 z-index-fixed-element margin-xs js-drawer__close js-tab-focus">
						<svg class="icon icon--xs" viewBox="0 0 16 16">
							<title>Close drawer panel</title>
							<g stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"
								stroke-miterlimit="10">
								<line x1="13.5" y1="2.5" x2="2.5" y2="13.5"></line>
								<line x1="2.5" y1="2.5" x2="13.5" y2="13.5"></line>
							</g>
						</svg>
					</button>
				</div>
			</div>
		</div>
		<!-- End Mobile Filters -->
		<div class="flex items-center justify-between margin-top-xl margin-bottom-md items-center display@md">
			<div class="flex justify-start gap-sm">
				<!-- <div class="flex flex-column items-start">
  <div class="multi-select inline-block js-multi-select"
	   data-trigger-class="btn btn--subtle justify-between shadow-xs" data-no-select-text="Tip proizvoda"
	   data-multi-select-text="{n} tipa izabrana" data-n-multi-select="2">
	<select name="multi-select-id" id="multi-select-id" v-model="collections" multiple>
	  <option value="Rings">Zdele</option>
	  <option value="Earrings">Boce</option>
	  <option value="Indoor">Kuvanje</option>
	  <option value="Outdoor">Posude i tepsije</option>
	</select>

	<svg class="icon icon--xxs margin-left-xxs" aria-hidden="true" viewBox="0 0 12 12">
	  <path
			  d="M10.947,3.276A.5.5,0,0,0,10.5,3h-9a.5.5,0,0,0-.4.8l4.5,6a.5.5,0,0,0,.8,0l4.5-6A.5.5,0,0,0,10.947,3.276Z"/>
	</svg>
  </div>
</div> -->

				<div class="flex flex-column items-start">
					<div class="multi-select inline-block js-multi-select"
						data-trigger-class="btn btn--subtle justify-between shadow-xs" data-no-select-text="Kategorije"
						data-multi-select-text="{n}  kategorije" data-n-multi-select="2">
						<select name="multi-select-id" id="multi-select-id" v-model="colors" multiple>
							<option value="Kuhinja">Kuhinja</option>
							<option value="Svakodnevna kolekcija">Svakodnevna kolekcija</option>
							<option value="Rerna">Rerna</option>
							<option value="Frizider">Frižider</option>
							<option value="Zamrzivac">Zamrzivač</option>
							<option value="Ostava">Ostava</option>
						</select>

						<svg class="icon icon--xxs margin-left-xxs" aria-hidden="true" viewBox="0 0 12 12">
							<path
								d="M10.947,3.276A.5.5,0,0,0,10.5,3h-9a.5.5,0,0,0-.4.8l4.5,6a.5.5,0,0,0,.8,0l4.5-6A.5.5,0,0,0,10.947,3.276Z" />
						</svg>
					</div>
				</div>

				<!-- <div class="flex flex-column items-start">
  <div class="multi-select inline-block js-multi-select"
	   data-trigger-class="btn btn--subtle justify-between shadow-xs" data-no-select-text="Kolekcije"
	   data-multi-select-text="{n}  kolekcije" data-n-multi-select="2">
	<select name="multi-select-id" id="multi-select-id" v-model="test" multiple>
	  <option value="kolekcije">Ponuda meseca</option>
	  <option value="test">Najprodavaniji proizvodi</option>
	</select>

	<svg class="icon icon--xxs margin-left-xxs" aria-hidden="true" viewBox="0 0 12 12">
	  <path
			  d="M10.947,3.276A.5.5,0,0,0,10.5,3h-9a.5.5,0,0,0-.4.8l4.5,6a.5.5,0,0,0,.8,0l4.5-6A.5.5,0,0,0,10.947,3.276Z"/>
	</svg>
  </div>
</div> -->
			</div>

			<div class="flex justify-end gap-sm items-end">
				<div>
					<p class="">Ukupno proizvoda: ${filteredPosts.length}</p>
				</div>

				<div class="inline-flex items-baseline">
					<label class="color-contrast-medium margin-right-xs" for="selectThis"></label>

					<div class="select inline-block js-select"
						data-trigger-class="reset color-contrast-high text-underline inline-flex items-center cursor-pointer js-tab-focus">
						<select name="selectThis" id="selectThis" v-model="filter" v-on:change="change(filter)">
							<option value="" disabled selected style="display: none">Sortiraj po</option>
							<option v-for="i in filters">${i}</option>
						</select>

						<svg class="icon icon--xxxs margin-left-xxs" viewBox="0 0 8 8">
							<path
								d="M7.934,1.251A.5.5,0,0,0,7.5,1H.5a.5.5,0,0,0-.432.752l3.5,6a.5.5,0,0,0,.864,0l3.5-6A.5.5,0,0,0,7.934,1.251Z" />
						</svg>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container max-width-adaptive-lg">
		<div class="grid gap-xl@md gap-x-xs gap-y-md">
			<template v-for="(post, index) in filteredPosts" :key="index">
				<div class="prod-card-v2 col-4@md col-6">
					<a class="prod-card-v2__img-link" :href="post.product_url" aria-label="Description of the link">
						<figure>
							<img :src="post.image" :alt="post.altTag" />
							<template
								v-if="post.image_two ==='https://cdn.shopify.com/shopifycloud/shopify/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c.gif'">
								<img loading="lazy" :data-src="post.image_two || post.image_3" :src="post.image_two || post.image_3"
									:alt="post.altTag" aria-hidden="true" />
							</template>
						</figure>
					</a>

					<div class="grid">
						<div class="padding-xs flex items-end justify-start justify-between@md" id="mobile-products">
							<div class="text-left items-end">
								<p class="product-card-v2__title">
									<a :href="post.product_url" v-html="post.title"></a>
								</p>
							</div>

							<div class="text-right items-center grid margin-top-xxs" id="text-left">
								<template v-if="post.price_money_2 > '0'">
									<span
										class="prod-card-v2__old-price margin-left-xxs@xl text-sm col-12">${formatPrice(post.price_money_2)} RSD</span>
									<span class="prod-card-v2__badge">Akcija</span>
								</template>
								<template v-else>
									<span class=""></span>
								</template>
								<span class="prod-card-v2__price">${formatPrice(post.price_money)} RSD</span>
							</div>
						</div>

						<div class="margin-bottom-sm@lg margin-top-sm margin-top-0@md padding-xs@lg flex display@md">
							<button class="btn btn--md btn--primary shadow-lg margin-x-auto flex-grow"
								@click="add_to_cart(post.variant_id)">
								Dodaj u Korpu
								<svg class="icon margin-left-xxxs" viewBox="0 0 24 24">
									<title>Go to cart page</title>
									<g class="icon__group" fill="none" stroke-linecap="square" stroke-linejoin="miter"
										stroke="currentColor">
										<polyline points="4,4 22,4 19,14 4,14 "></polyline>
										<circle cx="4" cy="22" r="2" fill="currentColor" stroke="none"></circle>
										<circle cx="20" cy="22" r="2" fill="currentColor" stroke="none"></circle>
										<polyline points="1,1 4,4 4,14 2,18 23,18 " stroke-linecap="butt"></polyline>
									</g>
								</svg>
							</button>
						</div>

						<div class="margin-bottom-sm@lg margin-top-sm margin-top-0@md flex hide@md">
							<button class="btn btn--primary shadow-lg btn--sm flex-grow" @click="add_to_cart(post.variant_id)">
								Dodaj
								<svg class="icon margin-left-xxxs" viewBox="0 0 24 24">
									<title>Go to cart page</title>
									<g class="icon__group" fill="none" stroke-linecap="square" stroke-linejoin="miter"
										stroke="currentColor">
										<polyline points="4,4 22,4 19,14 4,14 "></polyline>
										<circle cx="4" cy="22" r="2" fill="currentColor" stroke="none"></circle>
										<circle cx="20" cy="22" r="2" fill="currentColor" stroke="none"></circle>
										<polyline points="1,1 4,4 4,14 2,18 23,18 " stroke-linecap="butt"></polyline>
									</g>
								</svg>
							</button>
						</div>

					</div>
				</div>
			</template>
		</div>
	</div>
</section>

<script>
	const collectionOptions = {
		delimiters: ['${', '}'],
		store,

		// vracane objekta sa vrijednostima
		data() {

			return {
				sortBy: 'name',
				sortDirection: 'asc',
				currentPage: 1,
				postsPerPage: 9,
				showloader: false,
				selectedCategory: "All",
				filters: ["Cena veća/manja", "Cena manja/veća"],
				filter: "",

				page: 1,
				itemsPerPage: 5,
				loading: false,


				upsells: [
					{% paginate collections.["All"].products by 200 %}


			{% for product in collections.["All"].products %}
			{
				title: "{{ product.title }}",
					available: "{{ product.available }}",
						handle: "{{ product.handle }}",
							product_id: "{{ product.id }}",
								variant_id: "{{ product.selected_or_first_available_variant.id }}",
									price_money_2: "{{ product.compare_at_price_min }}",
										product_url: "{{ product.url | within: collection }}",
											price_money: "{{ product.price }}",
												image: "{{ product.featured_image | img_url: 'master' }}",
													image_two: "{{ product.images[1] | product_img_url: 'master' }}",
														tag: "{{ product.tags }}",
															type: "{{ product.type }}",
																image_3: "{{ product.featured_image | img_url: 'master' }}",
																	altTag: "{{ product.featured_image.alt | escape }}",


																		{% for collection in product.collections %}

																			name: "{{ collection.title }}",

																		{% endfor %}

			},
		{% endfor %}
	{% endpaginate %}

	      ],

	colors: [],
		collections: [],
			test: [],
				all: [],
					keyword: '',
						sortBy: 'name',

	    }
	  },
	mounted() {
	},

	//poziva se sinhrono nakon kreiranja instance vrijednosti u korpi
	created() {
		store.dispatch('get_cart').then(() => this.loading = false);
	},

	// dobijanje vrijednosti korpe
	computed: {
		cart() {
			return store.state.cart;
		},

		// funkcija za dobijanje svih proizvoda iz kolekcije
		allPosts() {
			return Object.keys(this.upsells).map(pid => this.upsells[pid])
		},

		//filtriranje proizvoda
		filteredPosts() {
			if (this.collections === "All") {
				return this.upsells;
			} else {
				return this.upsells.filter((item) => {
					return (this.keyword.length === 0 || item.name.includes(this.keyword)) &&
						(this.colors.length === 0 || this.colors.includes(item.tag)) &&
						(this.collections.length === 0 || this.collections.includes(item.type)) &&
						(this.test.length === 0 || this.test.includes(item.name))
					console.log(item.test_collection.name)
				})
			}
			;
			if (this.image_two === "no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c.gif") {
				return this.image_3;

			}
		},

		totalPages() {
			return Math.ceil(this.allPosts.length / this.postsPerPage)
		}
	},

	// filtiranje po ceni
	methods: {
		change: function (par) {
			switch (par) {
				case "Cena manja/veća":
					return this.sortLowest();
					break;
				case "Cena veća/manja":
					return this.sortHighest();
					break;
			}
		},

		//dobijanje vrijednosti korpe
		get_cart() {
			$.get('/cart.js')
				.then(response => JSON.parse(response))
				.then(cart => {
					this.set_cart(cart);

				})

		},

		//funkcije za sortiranje po ceni
		sortLowest() {
			this.upsells.sort((a, b) => parseFloat(a.price_money) > parseFloat(b.price_money) ? 1 : -1);
		},
		sortHighest() {
			this.upsells.sort((a, b) => parseFloat(a.price_money) < parseFloat(b.price_money) ? 1 : -1);
		},

		// button za dodavanje u korpu
		add_to_cart(id) {
			store.dispatch('add_to_cart', id);
			this.closeMiniCart();
		},

		// formatiranje cene proizvoda
		formatPrice(value) {
			let val = (value / 100).toFixed(2).replace('.', ',')
	      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
		},

		// manipulacija sa cart drawerom otvaranje na dodavanje i na klik zatvaranje
		closeMiniCart() {
			$('#cart-drawer-1').addClass('drawer--is-visible');
			// $('.mini-cart .dropdown-menu').addClass('show');
			$('#close-test').click(function () {
				$("#cart-drawer-1").removeClass('drawer--is-visible');
			});

		},


	}

	};

	// naziv sekcije koja ide prkeo Vue mora biti jedinstvena
	const collectionPage = Vue.createApp(collectionOptions)
	collectionPage.mount('#collection-all');
	collectionPage.use(store);
</script>