<div class="position-relative">
	<section class="intro" style="background-image: url('{{ 'karijera-image.jpg' | asset_url }}'); background-position: top center">
		<div class="container max-width-adaptive-lg padding-y-xxxl">
			<div class="max-width-xs">
				<div class="text-component margin-bottom-sm">
					<h1>Tupperware Srbija</h1>
					<p class="text-md">Naš fokus je stvaranje više mogućnosti za Vas. Priključite se uspešnom timu i ostvarite mnogobrojne pogodnosti.</p>
				</div>

				<div class="flex flex-wrap items-center gap-sm margin-top-lg">
					<a href="/pages/kontakt" class="btn btn--primary">Zakažite konsultaciju</a>
				</div>
			</div>
		</div>
	</section>
</div>

<section class="sticky-hero sticky-hero--scale sticky-hero--overlay-layer margin-bottom-xxxl margin-top-xl js-sticky-hero">
	<div class="sticky-hero__media" style="background-image:url('{{ 'tupperware-srbija-karijera.jpg' | asset_url }}')" aria-hidden="true"></div>

	<div class="sticky-hero__content">
		<div class="container max-width-xs">
			<ol class="text-points grid gap-lg">
				<li class="text-points__item">
					<div class="text-component">
						<h2>Uspešno internacionalno poslovanje</h2>
						<p class="text-md">Međunarodna kompanija čije se poslovanje tokom godina proširilo na celu planetu. Efikasna distributerska mreža uspešno je razvijena u 80 zemalja. Prepoznatljiv, moderan brend gde god vas put odveo.</p>
					</div>
				</li>

				<li class="text-points__item">
					<div class="text-component">
						<h2>Snovi pretočeni u stvarnost</h2>
						<p class="text-md">
							Prvi proizvodi svetlost dana su ugledali 1948. godine, 6 godina nakon početne ideje. Godine predanog rada, sa svim izazovima koje su tržišni uslovi donosili, definisali su Tupperware kompaniju kao sinonim istrajnosti, kreiran
							pre svega na lojalnosti zadovoljnih korisnika. U naše domove, Tupperware je zakoračio devedesetih godina.
						</p>
					</div>
				</li>

				<li class="text-points__item">
					<div class="text-component">
						<h2>Širok proizvodni program</h2>
						<p class="text-md">
							Oko 150 proizvoda sa ljubavlju napravljenih, po najsavremenijoj tehnologiji u cilju kreiranja kuhinje kao bajkovitog kutka za stvaranje čarolije za naše najmilije. Asortiman koji se konstatno obnavlja i usavršava i koji je
							apsolutno pordržan svim ekološkim standardima (ECO, HACCAP, SZO).
						</p>
					</div>
				</li>

				<li class="text-points__item">
					<div class="text-component">
						<h2>Prijateljsko online okruženje</h2>
						<p class="text-md">Lako dostupna online prodavnica, u svakom trenutku. Obezbeđen Start program podrške početnicima. Pristup sa bilo kog mesta, preko web sajta i mobilnog telefona.</p>
					</div>
				</li>

				<li class="text-points__item">
					<div class="text-component">
						<h2>Posao koji rado vodite</h2>
						<p class="text-md">
							Pored primamljive mogućnosti zarade u Tupperware-u, ostvarite niz dodatnih benefita koja Vam kompanija pruža: Specijalne nagrade, putovanja, pokloni, napredovanje u karijeri. Svaki trud će biti višestruko nagrađen, zato ovo
							nije posao vec užitak.
						</p>
					</div>
				</li>
			</ol>
		</div>
	</div>
</section>

<section class="position-relative z-index-1 margin-top-xxl padding-bottom-sm">
	<h2 class="text-center margin-bottom-md">Zašto treba da nam poklonite poverenje?</h2>
	<div class="container max-width-adaptive-xl position-relative">
		<div class="adv-gallery-v5">
			<ul class="grid gap-lg gap-md@md">
				<li>
					<div class="grid gap-xs gap-md@md">
						<div class="col-8@md order-2@md">
							<img class="block width-100%" src="{{ 'poverenje-01.jpg' | asset_url }}" alt="plasticna flasa" />
						</div>

						<div class="col-4@md order-1@md flex flex-column bg-primary">
							<div class="text-component margin-top-auto padding-md">
								<h2 class="text-lg color-white">Proizvodi za koje ne prestaje potražnja</h2>
								<p class="color-white">
									Prodajni kapaciteti Tupperware kolekcije su izuzeto visoki jer obuhvataju proizvode za koje je potražnja vec desetinama godina verifikovana kao nešto što jedno domaćinstvo mora da poseduje i nešto što jednoj domaćici
									olakšava proces rukovanja sa hranom.
								</p>
							</div>
						</div>
					</div>
				</li>

				<li>
					<div class="grid gap-xs gap-md@md">
						<div class="col-4@md">
							<img class="block width-100%" src="{{ 'poverenje-02.jpg' | asset_url }}" alt="plasticne posude" />
						</div>

						<div class="col-8@md flex flex-column bg-tertiary">
							<div class="text-component margin-y-auto padding-md">
								<h2 class="text-lg color-white">Iskustvo stičete prodajom</h2>
								<p class="color-white">
									Prodaja je veština koja se uči i pojedinac može za nju imati više ili manje dara. Sasvim sigurno je da se do svakog uspeha dolazi pre svega upornim radom. Prednosti postanka saradnika u Tupperware je to što nije neophodno
									prethodno iskustvo da bi ste postali brzo veoma uspešni u prodaji.
								</p>
							</div>
						</div>
					</div>
				</li>

				<li>
					<div class="grid gap-xs gap-md@md">
						<div class="col-8@md">
							<img class="block width-100%" src="{{ 'poverenje-03.jpg' | asset_url }}" alt="posude za pecenje hrane" />
						</div>
						<div class="col-4@md flex flex-column bg-secondary">
							<div class="text-component margin-top-auto padding-md">
								<h2 class="text-lg color-contrast-higher">Otkrijte svoj način rada</h2>
								<p class="color-contrast-higher">
									Saradnici sami kreiraju svoj radni dan određujući koliko vremena će uložiti da razvijaju posao. Pojedini saradnici prepoznaju pun potencijal saradnje u okviru kompanije i opredele se da to postane njihov primarni posao ili
									se preorijentišu da to bude njihov dodatni posao.
								</p>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="grid gap-xs gap-md@md">
						<div class="col-4@md">
							<img class="block width-100%" src="{{ 'poverenje-04.jpg' | asset_url }}" alt="posuda za pripremu hrane" />
						</div>

						<div class="col-8@md flex flex-column bg-quinary">
							<div class="text-component margin-y-auto padding-md">
								<h2 class="text-lg color-white">Dodatna investicija? - Ne, dovoljno je da pozelite!</h2>
								<p class="color-white">
									Pojednostavili smo sve za vas. Nije potrebno početno ulaganje da bi ste započeli. Potrebno je da popunite registracioni formular i upoznate vašu porodicu, prijatelje i kolege sa jedinstvenom ponudom, zakazujući Tupperware
									party.
								</p>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="grid gap-xs gap-md@md justify-start">
						<div class="col-6@md order-2 order-1@md flex flex-column bg-secondary-light">
							<div class="text-component margin-top-auto padding-md">
								<h2 class="text-lg color-contrast-higher">Imperativ dodatna briga o zdravlju</h2>
								<p class="color-contrast-higher">
									Materijali koji se koriste u procesu proizvodnje kuhinjskih pomagala su u skladu sa standardima koje propisuju svetski instituti zaduženi za definisanje nivoa zdravstvene zaštite. Zdravlje kao najdragocenije bogastvo koje
									možemo posedovati, predstavlja potrebu svih nas i nešto u čega je vredno ulagati. Preporuka prozvoda sa ekološko zdravstvenim karakteristikama, zaista je plemenito i isplativo.
								</p>
							</div>
						</div>
						<div class="col-6@md order-1 order-2@md">
							<img class="block width-100%" src="{{ 'poverenje-06.jpg' | asset_url }}" alt="silikonske rukavice za kuhinju" />
						</div>
					</div>
				</li>

				<li>
					<div class="grid gap-xs gap-md@md justify-start">
						<div class="col-4@md">
							<img class="block width-100%" src="{{ 'poverenje-07.jpg' | asset_url }}" alt="set nozeva" />
						</div>
						<div class="col-8@md flex flex-column bg-benery">
							<div class="text-component margin-y-auto padding-md">
								<h2 class="text-lg color-contrast-higher">Oaza besplatnih obuka</h2>
								<p class="color-contrast-higher">
									Svako znanje koje se stiče tokom života je kao dijamant koji nekog čoveka krasi. Uz Tupperware kompaniju stičete nova znanja koja možete primeniti da razvijete svoje postojeće veštine, a isto tako da obogatite svoj
									privatni život
								</p>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="grid gap-xs gap-md@md justify-start">
						<div class="col-8@md order-2 order-1@md flex flex-column bg-quaternary">
							<div class="text-component margin-y-auto padding-md">
								<h2 class="text-lg color-contrast-higher">Želite promenu u životu</h2>
								<p class="color-contrast-higher">
									Promene kojim usmeravate vaš zivot ka boljem, bilo da: želite da promenite posao i radite na razvoju ličnih potencijala, želite uzbuđenje i avanturu, želite dodatna primanja i da saznate više dok kupujete, želite da vam se
									deo investicija isplati, dok ujedno upoznajete nove ljude, želite da dok zarađujete osvajate nagrade i učestvujete u procesu razvoja drugih ljudi.
								</p>
							</div>
						</div>
						<div class="col-4@md order-1 order-2@md">
							<img class="block width-100%" src="{{ 'poverenje-05.jpg' | asset_url }}" alt="tupperware torba" />
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>

<div class="position-relative z-index-1 overflow-hidden padding-y-xxxl">
	<div class="margin-bottom-lg">
		<h2 class="text-center">Tupperware Srbija<br />Vaša obaveza kao saradnika</h2>
	</div>

	<div class="container max-width-adaptive-lg">
		<div class="v-timeline js-v-timeline" data-animation="on">
			<section class="v-timeline__section js-v-timeline__section">
				<div class="v-timeline__marker bg-contrast-high border border-3 border-contrast-higher" aria-hidden="true"></div>

				<div class="v-timeline__items-group">
					<div class="v-timeline__item bg padding-md radius-md shadow-md">
						<div class="v-timeline__date margin-bottom-sm">
							<time class="v-timeline__date-value" datetime="2020-03-18T00:00">1. korak</time>
						</div>

						<div class="text-component">
							<h3 class="text-md color-primary">Organizacija prezentacije i demonstracija proizvoda</h3>
						</div>
					</div>
				</div>
			</section>

			<section class="v-timeline__section js-v-timeline__section">
				<div class="v-timeline__marker bg-contrast-high border border-3 border-contrast-lower" aria-hidden="true"></div>

				<div class="v-timeline__items-group">
					<div class="v-timeline__item bg padding-md radius-md shadow-md">
						<div class="v-timeline__date margin-bottom-sm">
							<time class="v-timeline__date-value" datetime="2020-03-26T00:00">2. korak</time>
						</div>

						<div class="text-component">
							<h3 class="text-md color-primary">Pomoć potencijalnim klijentima u odabiru i zaključenju prodaje</h3>
						</div>
					</div>
				</div>
			</section>

			<section class="v-timeline__section js-v-timeline__section">
				<div class="v-timeline__marker bg-contrast-high border border-3 border-contrast-lower" aria-hidden="true"></div>

				<div class="v-timeline__items-group">
					<div class="v-timeline__item bg padding-md radius-md shadow-md">
						<div class="v-timeline__date margin-bottom-sm">
							<time class="v-timeline__date-value" datetime="2020-04-08T00:00">3. korak</time>
						</div>

						<div class="text-component">
							<h3 class="text-md color-primary">Sa puno pažnje ispratiti tok isporuke i pomoć pri korišćenju</h3>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>

{% section 'kartice' %}
