<div class="sticky-banner sticky-banner--bottom bg-light bg-opacity-80% backdrop-blur-10 js-sticky-banner"
	data-target-in="#sticky-banner-target">
	<!--游녢 sticky banner content -->
	<div class="flex flex-center">
		<a class="btn btn--primary margin-y-xs" href="/collections/akcijska-ponuda">Vidi proizvode na akciji</a>
	</div>
</div>
<div class="container max-width-adaptive-lg margin-top-lg margin-top-xxl@md">
	<div class="text-component margin-top-xl max-width-sm">
		<h1 class=""><span class="text-xs font-light">Tupperware katalog</span><br>Budi u toku sa akcijama</h1>
		<p>Pregledajte na코e kataloge i bolje se upoznajte sa Tupperware proizvodima. Otkrijte potpuno novi, revolucionarni
			svet skladi코tenja, organizacije i 캜i코캖enja hrane pomo캖u inovativnih re코enja kompanije Tupperware</p>
	</div>
	<div class="flex flex-wrap items-center gap-sm margin-top-md">
		<a class="btn btn--primary" href="/collections/akcijska-ponuda">游댠 Vidi proizvode na akciji</a>
	</div>
</div>

<div class="container max-width-adaptive-lg margin-top-lg margin-top-xl@md">
	<ul class="grid gap-sm">

		<li class="col-6@md">
			<a href="/collections/akcijska-ponuda">
				<img loading="lazy" class="block width-100% height-100% object-cover"
					data-src="{{ 'tupperware-maj-2022-01.jpg' | asset_url }}" src="{{ 'tupperware-maj-2022-01.jpg' | asset_url }}"
					alt="Tupperware maj 2022 katalog akcija" />
			</a>
		</li>


		<figure class="col-6@md position-relative z-index-1">
			<img class="block width-100%" loading="lazy" data-src="{{ 'tupperware-maj-2022-02.jpg' | asset_url }}"
				src="{{ 'tupperware-maj-2022-02.jpg' | asset_url }}" alt="Tupperware katalog akcija maj 2022 2">
			<!-- <ul class="poi js-poi">
				<li style="top: 48%; left: 26%;" class="poi__item js-poi__item">
					<a href="/collections/akcijska-ponuda/products/providna-posuda-460-ml-2-kom" class="reset poi__btn">
						<svg class="icon" viewBox="0 0 12 12" aria-hidden="true">
							<path d="M11,5H7V1A1,1,0,0,0,5,1V5H1A1,1,0,0,0,1,7H5v4a1,1,0,0,0,2,0V7h4a1,1,0,0,0,0-2Z"></path>
						</svg>
					</a>
				</li>

				<li style="top: 22%; left: 40%;" class="poi__item js-poi__item">
					<a href="/collections/akcijska-ponuda/products/mala-bomboneta" class="reset poi__btn">
						<svg class="icon" viewBox="0 0 12 12" aria-hidden="true">
							<path d="M11,5H7V1A1,1,0,0,0,5,1V5H1A1,1,0,0,0,1,7H5v4a1,1,0,0,0,2,0V7h4a1,1,0,0,0,0-2Z"></path>
						</svg>
					</a>
				</li>

				<li style="top: 83%; left: 68%;" class="poi__item js-poi__item">
					<a href="/collections/akcijska-ponuda/products/mali-set-providnih-posuda" class="reset poi__btn">
						<svg class="icon" viewBox="0 0 12 12" aria-hidden="true">
							<path d="M11,5H7V1A1,1,0,0,0,5,1V5H1A1,1,0,0,0,1,7H5v4a1,1,0,0,0,2,0V7h4a1,1,0,0,0,0-2Z"></path>
						</svg>
					</a>
				</li>
			</ul> -->
		</figure>

		<figure class="col-6@md position-relative z-index-1">
			<img class="block width-100%" loading="lazy" data-src="{{ 'tupperware-maj-2022-03.jpg' | asset_url }}"
				src="{{ 'tupperware-maj-2022-03.jpg' | asset_url }}" alt="Tupperware katalog akcija maj 2022 3">

			<!-- <ul class="poi js-poi">
				<li style="top: 30%; left: 32%;" class="poi__item js-poi__item">
					<a href="/collections/akcijska-ponuda/products/veliki-set-providnih-posuda" class="reset poi__btn">
						<svg class="icon" viewBox="0 0 12 12" aria-hidden="true">
							<path d="M11,5H7V1A1,1,0,0,0,5,1V5H1A1,1,0,0,0,1,7H5v4a1,1,0,0,0,2,0V7h4a1,1,0,0,0,0-2Z"></path>
						</svg>
					</a>
				</li>

				<li style="top: 62%; left: 20%;" class="poi__item js-poi__item">
					<a href="/collections/akcijska-ponuda/products/set-pravougaonih-posuda-1" class="reset poi__btn">
						<svg class="icon" viewBox="0 0 12 12" aria-hidden="true">
							<path d="M11,5H7V1A1,1,0,0,0,5,1V5H1A1,1,0,0,0,1,7H5v4a1,1,0,0,0,2,0V7h4a1,1,0,0,0,0-2Z"></path>
						</svg>
					</a>
				</li>

				<li style="top: 62%; left: 68%;" class="poi__item js-poi__item">
					<a href="/collections/akcijska-ponuda/products/set-pravougaonih-posuda-2" class="reset poi__btn">
						<svg class="icon" viewBox="0 0 12 12" aria-hidden="true">
							<path d="M11,5H7V1A1,1,0,0,0,5,1V5H1A1,1,0,0,0,1,7H5v4a1,1,0,0,0,2,0V7h4a1,1,0,0,0,0-2Z"></path>
						</svg>
					</a>
				</li>
			</ul> -->

		</figure>

		<figure class="col-6@md position-relative z-index-1">
			<img class="block width-100%" loading="lazy" data-src="{{ 'tupperware-maj-2022-04.jpg' | asset_url }}"
				src="{{ 'tupperware-maj-2022-04.jpg' | asset_url }}" alt="Tupperware katalog akcija maj 2022 4">

			<!-- <ul class="poi js-poi">
				<li style="top: 20%; left: 34%;" class="poi__item js-poi__item">
					<a href="/collections/akcijska-ponuda/products/turbo-chef-supersonic-1" class="reset poi__btn">
						<svg class="icon" viewBox="0 0 12 12" aria-hidden="true">
							<path d="M11,5H7V1A1,1,0,0,0,5,1V5H1A1,1,0,0,0,1,7H5v4a1,1,0,0,0,2,0V7h4a1,1,0,0,0,0-2Z"></path>
						</svg>
					</a>
				</li>
			</ul> -->

		</figure>

		<figure class="col-6@md position-relative z-index-1">
			<img class="block width-100%" loading="lazy" data-src="{{ 'tupperware-maj-2022-05.jpg' | asset_url }}"
				src="{{ 'tupperware-maj-2022-05.jpg' | asset_url }}" alt="Tupperware katalog akcija maj 2022 5">

			<!-- <ul class="poi js-poi">
				<li style="top: 22%; left: 57%;" class="poi__item js-poi__item">
					<a href="/collections/akcijska-ponuda/products/lonac-chef-series" class="reset poi__btn">
						<svg class="icon" viewBox="0 0 12 12" aria-hidden="true">
							<path d="M11,5H7V1A1,1,0,0,0,5,1V5H1A1,1,0,0,0,1,7H5v4a1,1,0,0,0,2,0V7h4a1,1,0,0,0,0-2Z"></path>
						</svg>
					</a>
				</li>

				<li style="top: 64%; left: 32%;" class="poi__item js-poi__item">
					<a href="/collections/akcijska-ponuda/products/dvojna-cediljka-1" class="reset poi__btn">
						<svg class="icon" viewBox="0 0 12 12" aria-hidden="true">
							<path d="M11,5H7V1A1,1,0,0,0,5,1V5H1A1,1,0,0,0,1,7H5v4a1,1,0,0,0,2,0V7h4a1,1,0,0,0,0-2Z"></path>
						</svg>
					</a>
				</li>
			</ul> -->

		</figure>

		<figure class="col-6@md position-relative z-index-1">
			<img class="block width-100%" loading="lazy" data-src="{{ 'tupperware-maj-2022-06.jpg' | asset_url }}"
				src="{{ 'tupperware-maj-2022-06.jpg' | asset_url }}" alt="Tupperware katalog akcija maj 2022 6">

			<!-- <ul class="poi js-poi">
				<li style="top: 20%; left: 26%;" class="poi__item js-poi__item">
					<a href="/collections/akcijska-ponuda/products/toplo-posluzivanje-2-5l-sa-kasikom" class="reset poi__btn">
						<svg class="icon" viewBox="0 0 12 12" aria-hidden="true">
							<path d="M11,5H7V1A1,1,0,0,0,5,1V5H1A1,1,0,0,0,1,7H5v4a1,1,0,0,0,2,0V7h4a1,1,0,0,0,0-2Z"></path>
						</svg>
					</a>
				</li>
				<li style="top: 18%; left: 74%;" class="poi__item js-poi__item">
					<a href="/collections/akcijska-ponuda/products/toplo-posluzivanje-3-5l-sa-kasikom" class="reset poi__btn">
						<svg class="icon" viewBox="0 0 12 12" aria-hidden="true">
							<path d="M11,5H7V1A1,1,0,0,0,5,1V5H1A1,1,0,0,0,1,7H5v4a1,1,0,0,0,2,0V7h4a1,1,0,0,0,0-2Z"></path>
						</svg>
					</a>
				</li>
				<li style="top: 60%; left: 50%;" class="poi__item js-poi__item">
					<a href="/collections/akcijska-ponuda/products/set-za-pecenje-peciva-1" class="reset poi__btn">
						<svg class="icon" viewBox="0 0 12 12" aria-hidden="true">
							<path d="M11,5H7V1A1,1,0,0,0,5,1V5H1A1,1,0,0,0,1,7H5v4a1,1,0,0,0,2,0V7h4a1,1,0,0,0,0-2Z"></path>
						</svg>
					</a>
				</li>
				<li style="top: 82%; left: 48%;" class="poi__item js-poi__item">
					<a href="/collections/akcijska-ponuda/products/podesivi-posluzavnik-vip-1" class="reset poi__btn">
						<svg class="icon" viewBox="0 0 12 12" aria-hidden="true">
							<path d="M11,5H7V1A1,1,0,0,0,5,1V5H1A1,1,0,0,0,1,7H5v4a1,1,0,0,0,2,0V7h4a1,1,0,0,0,0-2Z"></path>
						</svg>
					</a>
				</li>
			</ul> -->

		</figure>

		<figure class="col-6@md position-relative z-index-1">
			<img class="block width-100%" loading="lazy" data-src="{{ 'tupperware-maj-2022-07.jpg' | asset_url }}"
				src="{{ 'tupperware-maj-2022-07.jpg' | asset_url }}" alt="Tupperware katalog akcija maj 2022 7">

		</figure>

		<figure class="col-6@md position-relative z-index-1">
			<img class="block width-100%" loading="lazy" data-src="{{ 'tupperware-maj-2022-08.jpg' | asset_url }}"
				src="{{ 'tupperware-maj-2022-08.jpg' | asset_url }}" alt="Tupperware katalog akcija maj 2022 8">

		</figure>

		<figure class="col-6@md position-relative z-index-1">
			<img class="block width-100%" loading="lazy" data-src="{{ 'tupperware-maj-2022-09.jpg' | asset_url }}"
				src="{{ 'tupperware-maj-2022-09.jpg' | asset_url }}" alt="Tupperware katalog akcija maj 2022 9">

			<!-- <ul class="poi js-poi">

				<li style="top: 25%; left: 52%;" class="poi__item js-poi__item">
					<a href="/collections/akcijska-ponuda/products/mali-set-aloha" class="reset poi__btn">
						<svg class="icon" viewBox="0 0 12 12" aria-hidden="true">
							<path d="M11,5H7V1A1,1,0,0,0,5,1V5H1A1,1,0,0,0,1,7H5v4a1,1,0,0,0,2,0V7h4a1,1,0,0,0,0-2Z"></path>
						</svg>
					</a>
				</li>

				<li style="top: 54%; left: 57%;" class="poi__item js-poi__item">
					<a href="/collections/akcijska-ponuda/products/veliki-set-aloha" class="reset poi__btn">
						<svg class="icon" viewBox="0 0 12 12" aria-hidden="true">
							<path d="M11,5H7V1A1,1,0,0,0,5,1V5H1A1,1,0,0,0,1,7H5v4a1,1,0,0,0,2,0V7h4a1,1,0,0,0,0-2Z"></path>
						</svg>
					</a>
				</li>
			</ul> -->

		</figure>

		<figure class="col-6@md position-relative z-index-1">
			<img class="block width-100%" loading="lazy" data-src="{{ 'tupperware-maj-2022-10.jpg' | asset_url }}"
				src="{{ 'tupperware-maj-2022-10.jpg' | asset_url }}" alt="Tupperware katalog akcija maj 2022 10">

		</figure>

		<figure class="col-6@md position-relative z-index-1">
			<img loading="lazy" class="block width-100% height-100% object-cover"
				data-src="{{ 'tupperware-maj-2022-11.jpg' | asset_url }}" src="{{ 'tupperware-maj-2022-11.jpg' | asset_url }}"
				alt="Tupperware katalog akcija maj 2022 11" />

		</figure>

		<figure class="col-6@md position-relative z-index-1">
			<img loading="lazy" class="block width-100% height-100% object-cover"
				data-src="{{ 'tupperware-maj-2022-12.jpg' | asset_url }}" src="{{ 'tupperware-maj-2022-12.jpg' | asset_url }}"
				alt="Tupperware katalog akcija maj 2022 12" />

		</figure>
		<figure class="col-6@md position-relative z-index-1">
			<img loading="lazy" class="block width-100% height-100% object-cover"
				data-src="{{ 'tupperware-maj-2022-13.jpg' | asset_url }}" src="{{ 'tupperware-maj-2022-13.jpg' | asset_url }}"
				alt="Tupperware katalog akcija maj 2022 13" />

		</figure>
		<figure class="col-6@md position-relative z-index-1">
			<img loading="lazy" class="block width-100% height-100% object-cover"
				data-src="{{ 'tupperware-maj-2022-14.jpg' | asset_url }}" src="{{ 'tupperware-maj-2022-14.jpg' | asset_url }}"
				alt="Tupperware katalog akcija maj 2022 14" />

		</figure>
		<figure class="col-6@md position-relative z-index-1">
			<img loading="lazy" class="block width-100% height-100% object-cover"
				data-src="{{ 'tupperware-maj-2022-15.jpg' | asset_url }}" src="{{ 'tupperware-maj-2022-15.jpg' | asset_url }}"
				alt="Tupperware katalog akcija maj 2022 15" />

		</figure>
		<figure class="col-6@md position-relative z-index-1">
			<img loading="lazy" class="block width-100% height-100% object-cover"
				data-src="{{ 'tupperware-maj-2022-16.jpg' | asset_url }}" src="{{ 'tupperware-maj-2022-16.jpg' | asset_url }}"
				alt="Tupperware katalog akcija maj 2022 16" />

		</figure>
	</ul>
</div>

<section class="position-relative z-index-1 padding-y-xxl">
	<div class="container max-width-adaptive-lg position-relative">
		<div class="grid justify-end padding-x-md padding-x-0@md">
			<div class="position-relative z-index-2 col-6@md col-5@lg">
				<div
					class="text-component bg padding-md padding-lg@md shadow-sm line-height-md margin-y-xxxl@md margin-top-xxxxl margin-bottom-sm">
					<h2>Tupperware Katalog prole캖e / leto 2022</h2>
					<p class="color-contrast-medium">Pogledajte standarni katalog i upoznajte se sa ostalim proizvodima</p>
					<a class="btn btn--primary" href="/pages/osnovni-katalog">Pogledaj katalog</a>
				</div>
			</div>

			<figure class="position-absolute z-index-1 top-0 left-0 height-100% col-10@md">
				<img loading="lazy" class="block width-100% height-100% object-cover"
					data-src="{{ 'tupperware-katalog-1.jpg' | asset_url }}" src="{{ 'tupperware-katalog-1.jpg' | asset_url }}"
					alt="tupperware katalog" />
			</figure>
		</div>
	</div>
</section>