<section class="position-relative margin-y-xl">
	<div class="container max-width-adaptive-lg">
		<div class="grid">
			<div class="flex items-center col-6@md">
				<div class="padding-md padding-x-lg@lg padding-y-xl@lg">
					<!-- <div class="text-sm color-white margin-bottom-xxs">Lorem ipsum dolor </div> -->

					<div class="text-component">
						<h1 class="">Lorem ipsum dolor sit amet consectetur adipisicing elie?</h1>
						<p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, rem neque doloribus impedit explicabo minus laborum cupiditate atque esse consectetur.</p>
					</div>

					<div class="margin-top-sm">
						<div class="flex flex-wrap gap-sm items-center">
							<button class="btn btn--primary">Check recipes</button>
						</div>
					</div>
				</div>
			</div>

			<img class="block width-100% object-cover col-6@md" src="{{ 'article-img-featured-1.jpg' | asset_url }}" alt="Image description" />
		</div>
	</div>
</section>
<section class="position-relative margin-y-xl">
	<div class="container max-width-adaptive-lg">
		<div class="grid">
			<img class="block width-100% object-cover col-6@md" src="{{ 'article-img-featured-1.jpg' | asset_url }}" alt="Image description" />
			<div class="flex items-center col-6@md">
				<div class="padding-md padding-x-lg@lg padding-y-xl@lg">
					<!-- <div class="text-sm color-white margin-bottom-xxs">Lorem ipsum dolor </div> -->

					<div class="text-component">
						<h1 class="">Lorem ipsum dolor sit amet consectetur adipisicing elie?</h1>
						<p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, rem neque doloribus impedit explicabo minus laborum cupiditate atque esse consectetur.</p>
					</div>

					<div class="margin-top-sm">
						<div class="flex flex-wrap gap-sm items-center">
							<button class="btn btn--primary">Check recipes</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="position-relative margin-y-lg">
	<div class="slideshow js-slideshow slideshow--transition-fade" data-swipe="on" data-autoplay="on">
		<p class="sr-only">Slideshow Items</p>

		<ul class="slideshow__content">
			<li class="slideshow__item bg js-slideshow__item" style="background-image: url('{{ 'inspiracija-slider-01.jpg' | asset_url }}');">
				<div class="container max-width-xl">
					<h3 class="color-white text-sm margin-bottom-xxs@md text-center text-left@md display@md">Slide One</h3>
					<div class="text-component text-left max-width-sm">
						<h3 class="color-white">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos asperiores soluta, autem illo tempore similique earum labore itaque assumenda quaerat cum molestias, ipsum excepturi consequatur nam aliquid beatae. Unde, explicabo!
						</h3>
					</div>
				</div>
			</li>
			<li class="slideshow__item bg js-slideshow__item" style="background-image: url('{{ 'inspiracija-slider-02.jpg' | asset_url }}');">
				<div class="container max-width-xl">
					<h3 class="color-white text-sm margin-bottom-xxs@md text-center text-left@md display@md">Slide Two</h3>
					<div class="text-component text-left max-width-sm">
						<h3 class="color-white">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos asperiores soluta, autem illo tempore similique earum labore itaque assumenda quaerat cum molestias, ipsum excepturi consequatur nam aliquid beatae. Unde, explicabo!
						</h3>
					</div>
				</div>
			</li>
			<li class="slideshow__item bg js-slideshow__item" style="background-image: url('{{ 'inspiracija-slider-03.jpg' | asset_url }}');">
				<div class="container max-width-xl">
					<h3 class="color-white text-sm margin-bottom-xxs@md text-center text-left@md display@md">Slide Three</h3>
					<div class="text-component text-left max-width-sm">
						<h3 class="color-white">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos asperiores soluta, autem illo tempore similique earum labore itaque assumenda quaerat cum molestias, ipsum excepturi consequatur nam aliquid beatae. Unde, explicabo!
						</h3>
					</div>
				</div>
			</li>
		</ul>

		<ul>
			<li class="slideshow__control js-slideshow__control">
				<button class="reset slideshow__btn js-tab-focus">
					<svg class="icon" viewBox="0 0 32 32">
						<title>Show previous slide</title>
						<path d="M20.768,31.395L10.186,16.581c-0.248-0.348-0.248-0.814,0-1.162L20.768,0.605l1.627,1.162L12.229,16 l10.166,14.232L20.768,31.395z"></path>
					</svg>
				</button>
			</li>

			<li class="slideshow__control js-slideshow__control">
				<button class="reset slideshow__btn js-tab-focus">
					<svg class="icon" viewBox="0 0 32 32">
						<title>Show next slide</title>
						<path d="M11.232,31.395l-1.627-1.162L19.771,16L9.605,1.768l1.627-1.162l10.582,14.813 c0.248,0.348,0.248,0.814,0,1.162L11.232,31.395z"></path>
					</svg>
				</button>
			</li>
		</ul>
	</div>
</section>
