<section class="feature-v12 feature-v12--bottom feature-v12--offset-sm feature-v12--offset-md@md padding-y-xl">
	<div class="container max-width-adaptive-lg">
		<div class="grid justify-center">
			<div class="col-10 col-8@md order-2">
				<div class="feature-v12__offset-item text-center">
					<h1 class="text-xxxl@sm text-xxxxl@lg">Boranija sa pire krompirom i zacinima c</h1>
				</div>
			</div>

			<div class="order-1">
				<figure class="feature-v12__bg-item">
					<img class="block width-100%" src="{{ 'recept-single.jpg' | asset_url }}" alt="Image description" />
				</figure>
			</div>
		</div>
	</div>
</section>
<section class="position-relative margin-top-md">
	<div class="container max-width-adaptive-md">
		<div class="grid gap-sm">
			<div class="flex items-center col-7@md">
				<div class="">
					<!-- <div class="text-sm  margin-bottom-xxs">Lorem ipsum dolor </div> -->

					<div class="text-component">
						<h1 class="">Opis</h1>
						<p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, rem neque doloribus impedit explicabo minus laborum cupiditate atque esse consectetur.</p>
					</div>
				</div>
			</div>
			<div class="col-5@md flex text-center items-center border radius-md shadow-md">
				<div class="padding-md">
					<div class="grid gap-sm">
						<div class="flex" style="justify-content: stretch">
							<div class="flex-grow">
								<p class="text-left">
									<svg class="icon icon--xs margin-rigxt-xs" viewBox="0 0 16 16">
										<g>
											<path d="M8,0C3.6,0,0,3.1,0,7c0,3.9,3.6,7,8,7c0.4,0,0.8,0,1.1-0.1L14,16v-4.4c1.2-1.2,2-2.8,2-4.6 C16,3.1,12.4,0,8,0z"></path>
										</g>
									</svg>
									Kategorija
								</p>
							</div>
							<div class="flex-grow"><p class="text-right">Burgeri</p></div>
						</div>

						<div class="flex" style="justify-content: stretch">
							<div class="flex-grow">
								<p class="text-left">
									<svg class="icon icon--xs margin-rigxt-xs" viewBox="0 0 16 16">
										<g>
											<path d="M8,0C3.6,0,0,3.1,0,7c0,3.9,3.6,7,8,7c0.4,0,0.8,0,1.1-0.1L14,16v-4.4c1.2-1.2,2-2.8,2-4.6 C16,3.1,12.4,0,8,0z"></path>
										</g>
									</svg>
									Vreme pripreme
								</p>
							</div>
							<div class="flex-grow"><p class="text-right">60min</p></div>
						</div>

						<div class="flex" style="justify-content: stretch">
							<div class="flex-grow">
								<p class="text-left">
									<svg class="icon icon--xs margin-rigxt-xs" viewBox="0 0 16 16">
										<g>
											<path d="M8,0C3.6,0,0,3.1,0,7c0,3.9,3.6,7,8,7c0.4,0,0.8,0,1.1-0.1L14,16v-4.4c1.2-1.2,2-2.8,2-4.6 C16,3.1,12.4,0,8,0z"></path>
										</g>
									</svg>
									Zahtevnost
								</p>
							</div>
							<div class="flex-grow"><p class="text-right">Srednje</p></div>
						</div>

						<div class="flex" style="justify-content: stretch">
							<div class="flex-grow">
								<p class="text-left">
									<svg class="icon icon--xs margin-rigxt-xs" viewBox="0 0 16 16">
										<g>
											<path d="M8,0C3.6,0,0,3.1,0,7c0,3.9,3.6,7,8,7c0.4,0,0.8,0,1.1-0.1L14,16v-4.4c1.2-1.2,2-2.8,2-4.6 C16,3.1,12.4,0,8,0z"></path>
										</g>
									</svg>
									Kolicina
								</p>
							</div>
							<div class="flex-grow">
								<p class="text-right">2 serviranja</p>
							</div>
						</div>

						<div class="flex" style="justify-content: stretch">
							<div class="flex-grow">
								<p class="text-left">
									<svg class="icon icon--xs margin-rigxt-xs" viewBox="0 0 16 16">
										<g>
											<path d="M8,0C3.6,0,0,3.1,0,7c0,3.9,3.6,7,8,7c0.4,0,0.8,0,1.1-0.1L14,16v-4.4c1.2-1.2,2-2.8,2-4.6 C16,3.1,12.4,0,8,0z"></path>
										</g>
									</svg>
									Kuhinja
								</p>
							</div>
							<div class="flex-grow"><p class="text-right">Americka</p></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="position-relative padding-y-xl">
	<div class="container max-width-adaptive-md">
		<div class="tabs-v2 js-tabs">
			<nav>
				<ul class="tabs-nav-v2 js-tabs__controls js-tabs-nav-v2" aria-label="Tabs Interface">
					<li>
						<a href="#tab2Panel1" class="tabs-nav-v2__item js-tab-focus" aria-selected="true">Tab 1</a>
					</li>
					<li>
						<a href="#tab2Panel2" class="tabs-nav-v2__item js-tab-focus">Tab 2</a>
					</li>
					<li>
						<a href="#tab2Panel3" class="tabs-nav-v2__item js-tab-focus">Tab 3</a>
					</li>
					<li>
						<a href="#tab2Panel4" class="tabs-nav-v2__item js-tab-focus">Tab 4</a>
					</li>
				</ul>
			</nav>

			<div class="js-tabs__panels">
				<section id="tab2Panel1" class="padding-top-md js-tabs__panel">
					<div class="container max-width-lg text-left">
						<div class="text-component max-width-md">
							<h3 class="text-md font-bold">Lorem ipsum, dolor sit amet con</h3>

							<p>
								Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur eligendi harum minima iure nostrum consectetur eveniet nam magnam pariatur, omnis neque eius temporibus natus. Deserunt est a perferendis impedit quas!
							</p>

							<ol class="list list--ol">
								<li>registracija</li>
								<li>poručivanje robe</li>
								<li>dostava</li>
								<li>plaćanje</li>
								<li>povrat/reklamacija robe</li>
							</ol>
						</div>
					</div>
				</section>

				<section id="tab2Panel2" class="padding-top-md js-tabs__panel">
					<div class="container max-width-lg text-left">
						<div class="text-component max-width-md">
							<h3 class="text-md font-bold">Lorem ipsum, dolor sit amet con</h3>

							<p>
								Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur eligendi harum minima iure nostrum consectetur eveniet nam magnam pariatur, omnis neque eius temporibus natus. Deserunt est a perferendis impedit quas!
							</p>

							<ol class="list list--ol">
								<li>registracija</li>
								<li>poručivanje robe</li>
								<li>dostava</li>
								<li>plaćanje</li>
								<li>povrat/reklamacija robe</li>
							</ol>
						</div>
					</div>
				</section>

				<section id="tab2Panel3" class="padding-top-md js-tabs__panel">
					<div class="container max-width-lg text-left">
						<div class="text-component max-width-md">
							<h3 class="text-md font-bold">Lorem ipsum, dolor sit amet con</h3>

							<p>
								Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur eligendi harum minima iure nostrum consectetur eveniet nam magnam pariatur, omnis neque eius temporibus natus. Deserunt est a perferendis impedit quas!
							</p>

							<ol class="list list--ol">
								<li>registracija</li>
								<li>poručivanje robe</li>
								<li>dostava</li>
								<li>plaćanje</li>
								<li>povrat/reklamacija robe</li>
							</ol>
						</div>
					</div>
				</section>

				<section id="tab2Panel4" class="padding-top-md js-tabs__panel">
					<div class="container max-width-lg text-left">
						<div class="text-component max-width-md">
							<h3 class="text-md font-bold">Lorem ipsum, dolor sit amet con</h3>

							<p>
								Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur eligendi harum minima iure nostrum consectetur eveniet nam magnam pariatur, omnis neque eius temporibus natus. Deserunt est a perferendis impedit quas!
							</p>

							<ol class="list list--ol">
								<li>registracija</li>
								<li>poručivanje robe</li>
								<li>dostava</li>
								<li>plaćanje</li>
								<li>povrat/reklamacija robe</li>
							</ol>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</section>
<section class="position-relative padding-y-xl">
	<div class="container max-width-adaptive-md">
		<div class="grid gap-sm">
			<div class="col-6@md">
				<div class="flex">
					<div class="margin-right-md">
						<img loading="lazy" data-src="{{ 'recepti.png' | asset_url }}" src="{{ 'recepti.png' | asset_url }}" alt="" />
					</div>
					<div class="">
						<h3 class="text-md">Aromatizovana voda</h3>
						<p class="text-sm">Lorem ipsum dolor sit amet consectetur adipisici</p>
						<div class="margin-top-xs flex items-center">
							<div>
								<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path
										fill-rule="evenodd"
										clip-rule="evenodd"
										d="M10 18.5C12.1217 18.5 14.1566 17.6571 15.6569 16.1569C17.1571 14.6566 18 12.6217 18 10.5C18 8.37827 17.1571 6.34344 15.6569 4.84315C14.1566 3.34285 12.1217 2.5 10 2.5C7.87827 2.5 5.84344 3.34285 4.34315 4.84315C2.84285 6.34344 2 8.37827 2 10.5C2 12.6217 2.84285 14.6566 4.34315 16.1569C5.84344 17.6571 7.87827 18.5 10 18.5ZM10 20.5C15.523 20.5 20 16.023 20 10.5C20 4.977 15.523 0.5 10 0.5C4.477 0.5 0 4.977 0 10.5C0 16.023 4.477 20.5 10 20.5Z"
										fill="#212121"
									/>
									<path
										fill-rule="evenodd"
										clip-rule="evenodd"
										d="M10 4.5C10.2652 4.5 10.5196 4.60536 10.7071 4.79289C10.8946 4.98043 11 5.23478 11 5.5V10.086L13.207 12.293C13.3892 12.4816 13.49 12.7342 13.4877 12.9964C13.4854 13.2586 13.3802 13.5094 13.1948 13.6948C13.0094 13.8802 12.7586 13.9854 12.4964 13.9877C12.2342 13.99 11.9816 13.8892 11.793 13.707L9.586 11.5C9.2109 11.125 9.00011 10.6164 9 10.086V5.5C9 5.23478 9.10536 4.98043 9.29289 4.79289C9.48043 4.60536 9.73478 4.5 10 4.5Z"
										fill="#212121"
									/>
								</svg>
							</div>
							<div>
								<p class="margin-left-xxs text-sm">30min</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-6@md">
				<div class="flex">
					<div class="margin-right-md">
						<img loading="lazy" data-src="{{ 'recepti-1.png' | asset_url }}" src="{{ 'recepti-1.png' | asset_url }}" alt="" />
					</div>
					<div class="">
						<h3 class="text-md">Torta sa pomorandzama</h3>
						<p class="text-sm">Lorem ipsum dolor sit amet consectetur adipisici</p>
						<div class="margin-top-xs flex items-center">
							<div>
								<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path
										fill-rule="evenodd"
										clip-rule="evenodd"
										d="M10 18.5C12.1217 18.5 14.1566 17.6571 15.6569 16.1569C17.1571 14.6566 18 12.6217 18 10.5C18 8.37827 17.1571 6.34344 15.6569 4.84315C14.1566 3.34285 12.1217 2.5 10 2.5C7.87827 2.5 5.84344 3.34285 4.34315 4.84315C2.84285 6.34344 2 8.37827 2 10.5C2 12.6217 2.84285 14.6566 4.34315 16.1569C5.84344 17.6571 7.87827 18.5 10 18.5ZM10 20.5C15.523 20.5 20 16.023 20 10.5C20 4.977 15.523 0.5 10 0.5C4.477 0.5 0 4.977 0 10.5C0 16.023 4.477 20.5 10 20.5Z"
										fill="#212121"
									/>
									<path
										fill-rule="evenodd"
										clip-rule="evenodd"
										d="M10 4.5C10.2652 4.5 10.5196 4.60536 10.7071 4.79289C10.8946 4.98043 11 5.23478 11 5.5V10.086L13.207 12.293C13.3892 12.4816 13.49 12.7342 13.4877 12.9964C13.4854 13.2586 13.3802 13.5094 13.1948 13.6948C13.0094 13.8802 12.7586 13.9854 12.4964 13.9877C12.2342 13.99 11.9816 13.8892 11.793 13.707L9.586 11.5C9.2109 11.125 9.00011 10.6164 9 10.086V5.5C9 5.23478 9.10536 4.98043 9.29289 4.79289C9.48043 4.60536 9.73478 4.5 10 4.5Z"
										fill="#212121"
									/>
								</svg>
							</div>
							<div>
								<p class="margin-left-xxs text-sm">50min</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-6@md">
				<div class="flex">
					<div class="margin-right-md">
						<img loading="lazy" data-src="{{ 'recepti-2.png' | asset_url }}" src="{{ 'recepti-2.png' | asset_url }}" alt="" />
					</div>
					<div class="">
						<h3 class="text-md">Kolac sa jagodama</h3>
						<p class="text-sm">Lorem ipsum dolor sit amet consectetur adipisici</p>
						<div class="margin-top-xs flex items-center">
							<div>
								<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path
										fill-rule="evenodd"
										clip-rule="evenodd"
										d="M10 18.5C12.1217 18.5 14.1566 17.6571 15.6569 16.1569C17.1571 14.6566 18 12.6217 18 10.5C18 8.37827 17.1571 6.34344 15.6569 4.84315C14.1566 3.34285 12.1217 2.5 10 2.5C7.87827 2.5 5.84344 3.34285 4.34315 4.84315C2.84285 6.34344 2 8.37827 2 10.5C2 12.6217 2.84285 14.6566 4.34315 16.1569C5.84344 17.6571 7.87827 18.5 10 18.5ZM10 20.5C15.523 20.5 20 16.023 20 10.5C20 4.977 15.523 0.5 10 0.5C4.477 0.5 0 4.977 0 10.5C0 16.023 4.477 20.5 10 20.5Z"
										fill="#212121"
									/>
									<path
										fill-rule="evenodd"
										clip-rule="evenodd"
										d="M10 4.5C10.2652 4.5 10.5196 4.60536 10.7071 4.79289C10.8946 4.98043 11 5.23478 11 5.5V10.086L13.207 12.293C13.3892 12.4816 13.49 12.7342 13.4877 12.9964C13.4854 13.2586 13.3802 13.5094 13.1948 13.6948C13.0094 13.8802 12.7586 13.9854 12.4964 13.9877C12.2342 13.99 11.9816 13.8892 11.793 13.707L9.586 11.5C9.2109 11.125 9.00011 10.6164 9 10.086V5.5C9 5.23478 9.10536 4.98043 9.29289 4.79289C9.48043 4.60536 9.73478 4.5 10 4.5Z"
										fill="#212121"
									/>
								</svg>
							</div>
							<div>
								<p class="margin-left-xxs text-sm">15min</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-6@md">
				<div class="flex">
					<div class="margin-right-md">
						<img loading="lazy" data-src="{{ 'recepti-3.png' | asset_url }}" src="{{ 'recepti-3.png' | asset_url }}" alt="" />
					</div>
					<div class="">
						<h3 class="text-md">Grcka salata</h3>
						<p class="text-sm">Lorem ipsum dolor sit amet consectetur adipisici</p>
						<div class="margin-top-xs flex items-center">
							<div>
								<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path
										fill-rule="evenodd"
										clip-rule="evenodd"
										d="M10 18.5C12.1217 18.5 14.1566 17.6571 15.6569 16.1569C17.1571 14.6566 18 12.6217 18 10.5C18 8.37827 17.1571 6.34344 15.6569 4.84315C14.1566 3.34285 12.1217 2.5 10 2.5C7.87827 2.5 5.84344 3.34285 4.34315 4.84315C2.84285 6.34344 2 8.37827 2 10.5C2 12.6217 2.84285 14.6566 4.34315 16.1569C5.84344 17.6571 7.87827 18.5 10 18.5ZM10 20.5C15.523 20.5 20 16.023 20 10.5C20 4.977 15.523 0.5 10 0.5C4.477 0.5 0 4.977 0 10.5C0 16.023 4.477 20.5 10 20.5Z"
										fill="#212121"
									/>
									<path
										fill-rule="evenodd"
										clip-rule="evenodd"
										d="M10 4.5C10.2652 4.5 10.5196 4.60536 10.7071 4.79289C10.8946 4.98043 11 5.23478 11 5.5V10.086L13.207 12.293C13.3892 12.4816 13.49 12.7342 13.4877 12.9964C13.4854 13.2586 13.3802 13.5094 13.1948 13.6948C13.0094 13.8802 12.7586 13.9854 12.4964 13.9877C12.2342 13.99 11.9816 13.8892 11.793 13.707L9.586 11.5C9.2109 11.125 9.00011 10.6164 9 10.086V5.5C9 5.23478 9.10536 4.98043 9.29289 4.79289C9.48043 4.60536 9.73478 4.5 10 4.5Z"
										fill="#212121"
									/>
								</svg>
							</div>
							<div>
								<p class="margin-left-xxs text-sm">45min</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-6@md">
				<div class="flex">
					<div class="margin-right-md">
						<img loading="lazy" data-src="{{ 'recepti-4.png' | asset_url }}" src="{{ 'recepti-4.png' | asset_url }}" alt="" />
					</div>
					<div class="">
						<h3 class="text-md">Krofne</h3>
						<p class="text-sm">Lorem ipsum dolor sit amet consectetur adipisici</p>
						<div class="margin-top-xs flex items-center">
							<div>
								<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path
										fill-rule="evenodd"
										clip-rule="evenodd"
										d="M10 18.5C12.1217 18.5 14.1566 17.6571 15.6569 16.1569C17.1571 14.6566 18 12.6217 18 10.5C18 8.37827 17.1571 6.34344 15.6569 4.84315C14.1566 3.34285 12.1217 2.5 10 2.5C7.87827 2.5 5.84344 3.34285 4.34315 4.84315C2.84285 6.34344 2 8.37827 2 10.5C2 12.6217 2.84285 14.6566 4.34315 16.1569C5.84344 17.6571 7.87827 18.5 10 18.5ZM10 20.5C15.523 20.5 20 16.023 20 10.5C20 4.977 15.523 0.5 10 0.5C4.477 0.5 0 4.977 0 10.5C0 16.023 4.477 20.5 10 20.5Z"
										fill="#212121"
									/>
									<path
										fill-rule="evenodd"
										clip-rule="evenodd"
										d="M10 4.5C10.2652 4.5 10.5196 4.60536 10.7071 4.79289C10.8946 4.98043 11 5.23478 11 5.5V10.086L13.207 12.293C13.3892 12.4816 13.49 12.7342 13.4877 12.9964C13.4854 13.2586 13.3802 13.5094 13.1948 13.6948C13.0094 13.8802 12.7586 13.9854 12.4964 13.9877C12.2342 13.99 11.9816 13.8892 11.793 13.707L9.586 11.5C9.2109 11.125 9.00011 10.6164 9 10.086V5.5C9 5.23478 9.10536 4.98043 9.29289 4.79289C9.48043 4.60536 9.73478 4.5 10 4.5Z"
										fill="#212121"
									/>
								</svg>
							</div>
							<div>
								<p class="margin-left-xxs text-sm">30min</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-6@md">
				<div class="flex">
					<div class="margin-right-md">
						<img loading="lazy" data-src="{{ 'recepti-5.png' | asset_url }}" src="{{ 'recepti-5.png' | asset_url }}" alt="" />
					</div>
					<div class="">
						<h3 class="text-md">Tiramisu</h3>
						<p class="text-sm">Lorem ipsum dolor sit amet consectetur adipisici</p>
						<div class="margin-top-xs flex items-center">
							<div>
								<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path
										fill-rule="evenodd"
										clip-rule="evenodd"
										d="M10 18.5C12.1217 18.5 14.1566 17.6571 15.6569 16.1569C17.1571 14.6566 18 12.6217 18 10.5C18 8.37827 17.1571 6.34344 15.6569 4.84315C14.1566 3.34285 12.1217 2.5 10 2.5C7.87827 2.5 5.84344 3.34285 4.34315 4.84315C2.84285 6.34344 2 8.37827 2 10.5C2 12.6217 2.84285 14.6566 4.34315 16.1569C5.84344 17.6571 7.87827 18.5 10 18.5ZM10 20.5C15.523 20.5 20 16.023 20 10.5C20 4.977 15.523 0.5 10 0.5C4.477 0.5 0 4.977 0 10.5C0 16.023 4.477 20.5 10 20.5Z"
										fill="#212121"
									/>
									<path
										fill-rule="evenodd"
										clip-rule="evenodd"
										d="M10 4.5C10.2652 4.5 10.5196 4.60536 10.7071 4.79289C10.8946 4.98043 11 5.23478 11 5.5V10.086L13.207 12.293C13.3892 12.4816 13.49 12.7342 13.4877 12.9964C13.4854 13.2586 13.3802 13.5094 13.1948 13.6948C13.0094 13.8802 12.7586 13.9854 12.4964 13.9877C12.2342 13.99 11.9816 13.8892 11.793 13.707L9.586 11.5C9.2109 11.125 9.00011 10.6164 9 10.086V5.5C9 5.23478 9.10536 4.98043 9.29289 4.79289C9.48043 4.60536 9.73478 4.5 10 4.5Z"
										fill="#212121"
									/>
								</svg>
							</div>
							<div>
								<p class="margin-left-xxs text-sm">25min</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% section 'kartice' %}
</section>
